*{
    margin: 0;
    padding: 0;
}
    /*Estilo de la pagina 1*/
    .page1
    {
        height: 1390px;
        width: 970px;
        margin: 60px 0 0 80px;
        background-color: #1CB9B9;
        padding: 10px 0 30px 0;
    }
    .page1 article
    {
        background-color: green;
        margin: 10px 30px 20px 40px;
        height: 600px;
    }
    .page1 article,.page1 div,.page1 aside
    {
        width: 900px;
    }
    .page1 div
    {
        height: 400px;
        margin: 10px 30px 20px 40px;
        background-color: red;
    }
    .page1 aside
    {
        height: 300px;
        margin: 30px 40px 30px 30px;
        background-color: blue;
    }
    /*Estilo de la pagina 2*/
    .page2
    {
        height: 950px;
        width: 895px;
        margin: 60px 0 0 80px;
        background-color: #AEB91C;
        padding: 30px 0 25px 0;
    }
    .page2 article 
    {
        background-color: purple;
        margin: 30px 20px 15px 40px;
        height: 260px;
        width: 835px;
        padding-top: 10px;
    }
    .page2ar
    {
        background-color: #D111B1;
        margin: 30px 15px 20px 20px;
        height: 100px;
        width: 800px;
    }
    .page2ab
    {
        background-color: rgba(18, 94, 218, 0.77);
        margin: 20px 15px 10px 20px;
        height: 100px;
        width: 800px;
    }
    .page2 div
    {
        background-color: red;
        margin: 15px 30px 20px 30px;
        height: 350px;
        width: 835px;
        padding-top: 10px;
    }
    .page2mar
    {
        background-color: green;
        margin: 30px 25px 20px 10px;
        height: 300px;
        width: 800px;
    }
    .page2 aside
    {
        background-color: pink;
        margin: 20px 15px 25px 25px;
        height: 250px;
        width: 825px;
        padding-top: 10px;
    }
    /* Diseño pagina 3 */
    .page3
    {
        height: 980px;
        width: 830px;
        margin: 40px 0 0 30px;
        background-color: #06FDE9;
        padding: 10px 0 10px 0;
    }
    .page3 article
    {
        background-color: gray;
        margin: 10px 40px 30px 40px;
        height: 300px;
        width: 750px;
        padding-top: 10px;
    }
    .page3 div
    {
        background-color: brown;
        margin: 30px 50px 40px 30px;
        height: 240px;
        width: 750px;
        padding-top: 10px;
    }
    .page3A
    {
        background-color: black;
        margin: 10px 15px 20px 15px;
        height: 100px;
        width: 700px;
    }
    .page3B
    {
        background-color: white;
        margin: 20px 15px 10px 15px;
        height: 100px;
        width: 700px;
    }
    .page3 aside
    {
        background-color: gold;
        margin: 40px 60px 10px 20px;
        height: 300px;
        width: 750px;
        padding-top: 10px;
    }.page3C
    {
        background-color: silver;
        margin: 30px 10px 30px 30px;
        height: 240px;
        width: 710px;
        padding-top: 10px;
    }
    .page3 nav
    {
        background-color: coral;
        margin: 20px;
        height: 200px;
        width: 670px;
        padding-top: 10px;
    }
    .page3D
    {
        background-color: rgba(109, 220, 248, 0.97);
        margin: 10px 20px 10px 20px;
        height: 180px;
        width: 630px;
        padding-top: 1px;
    }
    /*diseño pagina 4*/
    .page4
    {
        background-color: #00006B;
        margin: 40px;
        height: 1200px;
        width: 1000px;
        padding-top: 10px;
    }
    .page4 article
    {
        background-color: rgba(158, 0, 0, 0.79);
        margin: 20px;
        height: 1160px;
        width: 960px;
        padding-top: 10px;
    }
    .page4 div
    {
        background-color: rgba(255, 255, 1, 0.6);
        margin: 30px;
        height: 1100px;
        width: 900px;
        padding-top: 10px;
    }
    .page4 main 
    {
        background-color: rgba(4, 102, 4, 0.59);
        margin: 20px 10px;
        height: 500px;
        width: 880px;
        padding-top: 10px;
    }
    .page4 footer
    {
        background-color: rgba(255, 68, 0, 0.69);
        margin: 20px 10px;
        height: 520px;
        width: 880px;
        padding-top: 10px;
    }
    .page4 aside
    {
        background-color: white;
        margin: 10px 20px;
        height:480px;
        width: 840px;
        padding-top: 1px;
    }
    .page4 li
    {
        background-color: black;
        margin: 20px 10px;
        height: 480px;
        width: 850px;
        padding-top: 1px;
    }
    .page4A
    {
        background-color: red;
        margin: 20px 30px;
        height: 440px;
        width: 780px;
    }
    .page4B
    {
        
    }